displayName: Captcha Protect
summary: Add an anti-bot challenge to individual IPs in a subnet when traffic spikes are detected from that subnet
type: middleware
import: github.com/libops/captcha-protect
testData:
  ProtectRoutes: /
  ChallengeTmpl: challenge.tmpl.html
  Window: 86400
  RateLimit: 20
  IPForwardedHeader: "X-Forwarded-For"
  CaptchaProvider: turnstile
  SiteKey: 1x00000000000000000000AA
  SecretKey: 1x0000000000000000000000000000000AA
  EnableStateReconciliation: "false"
